This notebook is just meant to test the codes before I compile them as .py files.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from astropy.io import fits

# 1. Fetch coordinates (ra, dec) from raw data

In [3]:
# 6dFGS
df = pd.read_csv('data/raw/6dfgs/campbell_table8.ascii', delim_whitespace=True)

# ra is still in hour -> need to convert to degrees
df[['ra', 'dec']].describe()

                 ra           dec
count  11102.000000  11102.000000
mean      11.244593    -30.432311
std        6.845505     22.013301
min        0.003990    -87.126140
25%        5.349575    -48.224305
50%       11.102990    -24.340570
75%       16.718225    -12.112080
max       23.992300     -0.002170

In [4]:
df

,6dFGSid,2MASSid,ra,dec,cz,logRe_J,elogRe_J,logRe_H,elogRe_H,logRe_K,...,Nr,zgroup,dist5,sdens5,sampcodeJ,pvcodeJ,sampcodeH,pvcodeH,sampcodeK,pvcodeK
0,g0000144-765225,2MASXJ00001440-7652248,0.00399,-76.87364,15941,0.465,0.057,0.363,0.069,0.261,...,-1,-1,4.2758,0.1176,111111,1,111111,1,111111,1
1,g0000222-013746,2MASXJ00002213-0137463,0.00615,-1.62947,11123,0.024,0.048,-0.010,0.057,-0.087,...,-1,-1,6.4318,0.0385,111111,1,111111,1,111111,1
2,g0000235-065610,2MASXJ00002348-0656103,0.00652,-6.93619,10920,0.343,0.047,0.370,0.057,0.133,...,-1,-1,6.2142,0.0448,111111,1,111111,1,111111,1
3,g0000251-260240,2MASXJ00002509-2602401,0.00697,-26.04450,14926,0.371,0.046,0.338,0.055,0.310,...,-1,-1,3.2827,0.1434,111111,1,111111,1,111111,1
4,g0000356-014547,2MASXJ00003564-0145472,0.00990,-1.76317,6956,0.316,0.042,0.286,0.052,0.320,...,-1,-1,3.8994,0.1036,111111,1,111111,1,111111,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11097,g2358599-620048,2MASXJ23585991-6200483,23.98331,-62.01342,8954,0.253,0.042,0.244,0.051,0.201,...,-1,-1,5.9601,0.0404,111111,1,111111,1,111111,1
11098,g2359035-052419,2MASXJ23590350-0524185,23.98430,-5.40517,8819,0.161,0.047,0.165,0.056,0.134,...,-1,-1,8.1076,0.0247,111111,1,111111,1,111111,1
11099,g2359193-314348,2MASXJ23591929-3143478,23.98870,-31.72992,8111,0.292,0.041,0.240,0.050,0.325,...,-1,-1,2.6376,0.2179,111111,1,111111,1,111111,1
11100,g2359266-242531,2MASXJ23592659-2425306,23.99072,-24.42514,14890,0.585,0.040,0.531,0.049,0.525,...,-1,-1,3.8269,0.1006,110111,0,110111,0,110111,0
11101,g2359323-501039,2MASXJ23593225-5010388,23.99230,-50.17744,13594,0.130,0.060,0.159,0.071,0.175,...,-1,-1,11.3216,0.0151,111111,1,111111,1,111111,1

In [23]:
# LAMOST
with fits.open('data/raw/lamost/lamost_DR7_VDcat_20200825.fits') as hdul:
    df = pd.DataFrame(hdul[1].data)

df[['ra', 'dec']].describe()

                 ra           dec
count  85861.000000  85861.000000
mean     172.739314     23.402422
std       90.718450     17.346885
min        0.006891     -8.783024
25%      133.475564      7.475573
50%      171.662455     22.503952
75%      219.158605     36.137900
max      359.994162     77.790749

In [20]:
# sdss
df = pd.read_csv('data/raw/sdss/SDSS_spectro_mrafifrbbn.csv')

df[['ra', 'dec']].describe()

                  ra            dec
count  353880.000000  353880.000000
mean      184.987477      23.534355
std        64.273565      18.912892
min         0.002690     -11.238405
25%       150.533360       7.776777
50%       186.849025      21.756479
75%       223.432330      37.658862
max       359.995070      84.270371

In [22]:
# Combine the coordinates
df1 = pd.read_csv('data/raw/6dfgs/campbell_table8.ascii', delim_whitespace=True)[['ra', 'dec']]
df1['ra'] = df1['ra']*15

with fits.open('data/raw/lamost/lamost_DR7_VDcat_20200825.fits') as hdul:
    df2 = pd.DataFrame(hdul[1].data)[['ra', 'dec']]
    
df3 = pd.read_csv('data/raw/sdss/SDSS_spectro_mrafifrbbn.csv')[['ra', 'dec']]

df = pd.concat([df1, df2, df3])

df

               ra        dec
0         0.05985 -76.873640
1         0.09225  -1.629470
2         0.09780  -6.936190
3         0.10455 -26.044500
4         0.14850  -1.763170
...           ...        ...
353875  228.37159  58.509322
353876  229.35175  59.382719
353877  229.55308  59.425541
353878  229.67979  58.403987
353879  224.01304  63.179629

[450843 rows x 2 columns]

In [8]:
df = pd.read_csv('data/raw/sdss/SDSS_spectro_mrafifrbbn.csv')

df

,specobjid,objID,ra,dec,plate,instrument,mjd,fiberid,devMag_u,devRad_u,devAB_u,devMag_r,devRad_r,devAB_r,z,zErr,veldisp,veldispErr,sigmaStars,sigmaStarsErr
0,1038236435217410048,1237648702985470445,226.82881,-1.200187,922,SDSS,52426,570,18.38230,28.880410,0.450022,16.93778,19.086230,0.729243,0.067533,0.000014,850.00000,-3.000000,162.99580,78.782280
1,564090184476420096,1237648722828918909,151.56922,1.239473,501,SDSS,52235,52,19.19825,2.124951,0.691999,17.43910,1.827328,0.522490,0.045248,0.000008,47.63898,10.931370,58.12014,9.156975
2,565261984329656320,1237648722829312116,152.44313,1.162678,502,SDSS,51957,219,18.32770,16.840080,0.149971,16.12569,8.775636,0.234761,0.045307,0.000013,64.31935,6.228534,59.08602,6.105124
3,566353525202774016,1237648722830557373,155.38646,1.189416,503,SDSS,51999,94,17.41025,6.577456,0.750016,16.00758,4.205668,0.863906,0.093378,0.000005,101.08820,9.743426,89.21447,8.473104
4,381716655568349184,1237650369415217289,196.03141,-3.383345,339,SDSS,51692,133,19.43940,5.521134,0.382376,17.51808,1.796637,0.715979,0.087851,0.000028,123.18090,9.120104,113.76160,8.793464
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353875,689162928053577728,1237671769072795685,228.37159,58.509322,612,SDSS,52079,408,15.76471,7.939434,0.455569,13.88309,10.854820,0.813063,0.008483,0.000011,53.08751,6.256758,57.33401,5.201681
353876,690231382940608512,1237671769610059981,229.35175,59.382719,613,SDSS,52345,199,18.93501,3.100531,0.327812,16.04663,2.751669,0.454339,0.075850,0.000014,200.76450,6.065579,217.99700,5.298225
353877,690230008551073792,1237671769610125546,229.55308,59.425541,613,SDSS,52345,194,18.42634,5.116008,0.950171,16.81613,5.116930,0.963856,0.068729,0.000008,37.86760,13.216370,45.24478,12.599430
353878,690211591731308544,1237671939798138961,229.67979,58.403987,613,SDSS,52345,127,20.00412,2.216944,0.333488,17.27322,2.339737,0.552130,0.062002,0.000016,83.26497,8.511572,76.73415,7.833493
353879,685839933398607872,1237674479735013537,224.01304,63.179629,609,SDSS,52339,607,18.44709,23.822830,0.377497,16.55498,12.321310,0.776638,0.076253,0.000021,67.17605,23.149540,16.95249,46.998940

In [10]:
df['objID'].nunique()

353880