This notebook is just meant to test the codes before I compile them as .py files.

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from astropy.io import fits

# 1. Fetch coordinates (ra, dec) from raw data

In [10]:
# 6dFGS
df = pd.read_csv('data/raw/6dfgs/campbell_table8.ascii', delim_whitespace=True)

# ra is still in hour -> need to convert to degrees
df[['ra', 'dec']].describe()

                 ra           dec
count  11102.000000  11102.000000
mean      11.244593    -30.432311
std        6.845505     22.013301
min        0.003990    -87.126140
25%        5.349575    -48.224305
50%       11.102990    -24.340570
75%       16.718225    -12.112080
max       23.992300     -0.002170

In [23]:
# LAMOST
with fits.open('data/raw/lamost/lamost_DR7_VDcat_20200825.fits') as hdul:
    df = pd.DataFrame(hdul[1].data)

df[['ra', 'dec']].describe()

                 ra           dec
count  85861.000000  85861.000000
mean     172.739314     23.402422
std       90.718450     17.346885
min        0.006891     -8.783024
25%      133.475564      7.475573
50%      171.662455     22.503952
75%      219.158605     36.137900
max      359.994162     77.790749

In [20]:
# sdss
df = pd.read_csv('data/raw/sdss/SDSS_spectro_mrafifrbbn.csv')

df[['ra', 'dec']].describe()

                  ra            dec
count  353880.000000  353880.000000
mean      184.987477      23.534355
std        64.273565      18.912892
min         0.002690     -11.238405
25%       150.533360       7.776777
50%       186.849025      21.756479
75%       223.432330      37.658862
max       359.995070      84.270371

In [22]:
# Combine the coordinates
df1 = pd.read_csv('data/raw/6dfgs/campbell_table8.ascii', delim_whitespace=True)[['ra', 'dec']]
df1['ra'] = df1['ra']*15

with fits.open('data/raw/lamost/lamost_DR7_VDcat_20200825.fits') as hdul:
    df2 = pd.DataFrame(hdul[1].data)[['ra', 'dec']]
    
df3 = pd.read_csv('data/raw/sdss/SDSS_spectro_mrafifrbbn.csv')[['ra', 'dec']]

df = pd.concat([df1, df2, df3])

df

               ra        dec
0         0.05985 -76.873640
1         0.09225  -1.629470
2         0.09780  -6.936190
3         0.10455 -26.044500
4         0.14850  -1.763170
...           ...        ...
353875  228.37159  58.509322
353876  229.35175  59.382719
353877  229.55308  59.425541
353878  229.67979  58.403987
353879  224.01304  63.179629

[450843 rows x 2 columns]

In [26]:
len(df)

85861