In [15]:
import numpy as np
import pandas as pd

In [5]:
# Number of galaxies after iterative FP fitting (outlier galaxies)
for survey in ['6dFGS', 'SDSS', 'LAMOST']:
    df_ori = pd.read_csv(f'../data/foundation/fp_sample/smin_setting_1/{survey.lower()}.csv')

    df_final = pd.read_csv(f'../data/foundation/fp_sample_final/smin_setting_1/fp_fit_method_0/{survey.lower()}.csv')

    print(f"Galaxies excluded in {survey}: {len(df_ori) - len(df_final)}")

Galaxies excluded in 6dFGS: 1
Galaxies excluded in SDSS: 4
Galaxies excluded in LAMOST: 7

In [8]:
# Number of combined galaxies
df = pd.DataFrame()
for survey in ['6dFGS', 'SDSS', 'LAMOST']:
    df_temp = pd.read_csv(f'../data/foundation/fp_sample/smin_setting_1/{survey.lower()}.csv')

    df = pd.concat([df, df_temp])

print(f"Number of combined galaxies (before/original): {len(df)}")

df = pd.read_csv("../data/foundation/fp_sample_final/smin_setting_1/fp_fit_method_0/all_combined.csv")
print(f"Number of combined galaxies (after outlier rejection): {len(df)}")

Number of combined galaxies (before/original): 12804
Number of combined galaxies (after outlier rejection): 12786

In [12]:
df = pd.read_csv('../artifacts/fp_fit/smin_setting_1/fp_fit_method_0/fp_fits.csv', index_col=0)
df['c'] = df['rmean'] - df['a'] * df['smean'] - df['b'] * df['imean']

df

,a,b,rmean,smean,imean,s1,s2,s3,c
6dFGS,1.419585,-0.868787,0.188641,2.258447,3.211987,0.041763,0.287499,0.147204,-0.226886
SDSS,1.437831,-0.898644,0.155866,2.237594,3.183340,0.045066,0.272557,0.163546,-0.200726
LAMOST,1.458118,-0.918159,-0.043616,2.167199,3.286299,0.049962,0.276993,0.164573,-0.186302
ALL_COMBINED,1.448729,-0.894661,0.140691,2.240512,3.217048,0.045052,0.286057,0.156652,-0.227037

In [21]:
df = pd.read_csv('../artifacts/fp_fit/smin_setting_1/fp_fit_method_0/fp_scatter.csv', index_col=0)

df * np.log(10) * 100

                  eps_s  eps_photo  sigma_r_int  r_scatter
6dFGS         11.282667   5.963695    18.673965  25.305410
SDSS           1.980223   6.723548    20.423930  21.690352
LAMOST         8.174177   7.851815    22.910722  27.009323
ALL_COMBINED   7.138014   6.677497    20.493007  23.900833

In [33]:
df = pd.read_csv('../data/external/logdist/cullan_logdist.csv')

df = df[df["zcmb_group"] < 0.053]

(df["es"] * 100 * np.log(10)).median()

2.2358101252972187

In [34]:
6217 + 4433 + 2142

12792